In [1]:
obj=('hi',24567)
print(obj)

('hi', 24567)

In [2]:
obj=(3,)
print(type(obj))

<class 'tuple'>

In [3]:
top = tuple([1,2,3])
print(top)

(1, 2, 3)

In [5]:
top=(1,2,3,4,6)
top=top+(10,)
top+(10,)
print(top)

(1, 2, 3, 4, 6, 10)

In [1]:
# Write a python program to input ‘n’ employee salaries and find the minimum and maximum salary amongst ‘n’ employees.

t=tuple( )
num=int(input("Enter number of employees")) 
for i in range(num):  
    a=int(input("Enter salary of employee:")) 
    t=t+(a,)
    print ("maximum salary is :",max(t))
    print ("minimum salary is:",min(t))

Enter number of employees 2
Enter salary of employee: 3200

maximum salary is : 3200
minimum salary is: 3200

Enter salary of employee: 3000

maximum salary is : 3200
minimum salary is: 3000

In [3]:
# Write a python program to input ‘n’ employee salaries and find the minimum and maximum salary amongst ‘n’ employees.

n = int(input("Enter number of employees: "))
salaries = ()

for i in range(n):
    salary =input(f"Enter salary of employee {i+1}: ")
    salaries+=(salary,)
min_salary = min(salaries)
max_salary = max(salaries)
print(salaries)

print(f"\nMinimum salary among {n} employees: {min_salary}")
print(f"Maximum salary among {n} employees: {max_salary}")

Enter number of employees:  4
Enter salary of employee 1:  12000
Enter salary of employee 2:  230000
Enter salary of employee 3:  20000
Enter salary of employee 4:  45000

('12000', '230000', '20000', '45000')

Minimum salary among 4 employees: 12000
Maximum salary among 4 employees: 45000

In [4]:
t = tuple()                     
t = t + ('namitha',)             
print(t)                        
print(len(t))                   
t1 = (10, 20, 30)               
t2 = t1 + t                     
print(len(t2))                  
t3 = t1 * 2                    
print(t3)

('namitha',)
1
4
(10, 20, 30, 10, 20, 30)

In [8]:
n = int(input("Enter number of employees:"))
employees = {input("Enter name: "): 
             input("Enter employee number: ") for _ in range(n)}

print("\nEmployee Details:")
for name, number in employees.items():
    print(f"Name: {name}, Employee Number: {number}")

print("\nNames:", list(employees.keys()))
print("Employee Numbers:", list(employees.values()))

Enter number of employees: 2
Enter name:  king
Enter employee number:  6839483659
Enter name:  ram
Enter employee number:  832652356

Employee Details:
Name: king, Employee Number: 6839483659
Name: ram, Employee Number: 832652356

Names: ['king', 'ram']
Employee Numbers: ['6839483659', '832652356']